@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  *{
    margin: 0px;
  }
  html{
    height: 100%;
  }

 /*shared style  */

 .bg-color{
    background-color: rgb(0, 0, 0);
    
 }
 .display-flex{
    display: flex;
 }
 .primary-color{
    color: rgb(255, 255, 255);
 }
 .btn-primary{
    box-sizing: border-box;
    border: none;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: rgb(230, 83, 60) ;
 }

 /* header section start here */

 .banner-container{
    width: 1440px;
    height: 715px;
    border: 2px solid black;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    background-color: rgb(0, 0, 0);
 }

 /* Navbar related style */

 .fitness-section{
    font-size: 2.3rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
 }
 .navbar{
    justify-content: space-between;
   margin: 55px 194px 30px 140px;
 }
 #home-part{
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 600;
 }
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}
.bar-icon{
    color: rgb(255, 255, 255);
}
.container-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.section-container{
    width: 595px;
    height: 440px;
    margin: 90px 85px 75px 140px;
    position: relative;
}
.content-part{
    font-size: 4.8rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding-bottom: 28px;
}
#shape-part{
    font-family: cursive;
    font-size: 4.8rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.section-title{
    color: rgb(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 28px;
}
#join-part{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.btn-section{
    box-sizing: border-box;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: black;
    border: 1px solid white;
    font-size: 1rem;
    font-weight: 600;
}
.img-section{
    position: absolute;
    top: -20%;
    left: 110%;
}
.glass-section{
    position: relative;
    height: 95px;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
}
.number-title{
    position: absolute;
    left: 40%;
    bottom: 55%;
}
.video-title{
    position: absolute;
    left: -2%;
    bottom: 30%;
}
.glass-section, h3{
    font-size: 1.4rem;
    font-weight: 900;
    color: rgb(250, 250, 249);
}
.glass-section, p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}
.circle-box{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(230, 83, 60);
    left: 10%;
    bottom: 30%;
}
.glass-box{
    position: absolute;
    left: 95%;
    top: 83%;
}
.second-glass{
    height: 95px;
    width: 190px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 170%;
    bottom: 300%;
}
.glass-title{
    font-size: 2.4rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    position: absolute;
    left: -50px;
    bottom: 25px;
}
.glass-content{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(255, 255, 255, 0.65);
    position: absolute;
    left: -25%;
    bottom: 20%;
}

/* header section end */

/* Change your habit start here */

.habit-section{
    width: 1044px;
    height: 445px;
    margin-top: 100px;
}
.change-container{
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    left: 30px;
}
.change-container, h2{
    font-size: 3rem;
    font-weight: 900;
    margin: 14px 0px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
}
.change-container, p{
    color: rgb(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400px;
}
.content-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.change-container, h2, p{
    margin-left: 80px ;
}
.img-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    margin-top: 90px;
    margin-left: 200px;
}
.picture{
    border: 4px solid rgb(17, 17, 17);
    border-radius: 50%;
}
.first-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 130px;
}
.movement-title{
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}
.second-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    bottom: 75px;
    left: -30px;
}
#time-title{
    margin-bottom: 20px;
    margin-left: 60px;
}
.third-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-end;
    bottom: 150px;
    right: 190px;
}
#practice-title{
    margin-bottom: 20px;
    margin-right:40px ;
}
.final-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-end;
    bottom: 245px;
    left: 40px;
}
#wight-title{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width:576px){
    .banner-container{
        height: 1325px;
        width: 576px;
        margin: 70px 0px;
    }
    .navbar{
        margin-left: 45px;
    }
    .nav-link{
        display: none;
    }
    .bar-icon{
        position: relative;
       left: 100px;
    }
    .container-section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .img-section{
        width: 100%;
       top: 529px;
       left: 65px;
    }
   .section-container{
    margin: 20px 45px;
   }
   .content-part{
    margin-bottom: 10px;
   }
   .section-title{
    width: 296px;
    height: 76px;
    margin: 20px 0px;
   }
   .glass-box{
    left: 25px;
    top: 785px;
   }
   .second-glass{
    left: 250px;
    top: -220px;
   }
   
}
@media screen and (min-width: 576px) and (max-width: 992px){
    .banner-container{
        width: 745px;
        height: 1405px;
    }
    .navbar{
        margin-left: 60px;
    }
    .section-container{
        width: 599px;
        height: 440px;
        margin-left: 100px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .container-section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .img-section{
        width: 100%;
       top: 529px;
       left: 65px;
    }
    .glass-box{
        left: 25px;
        top: 830px;
       }
       .second-glass{
        left: 250px;
        top: -220px;
       }
       .bar-icon{
        display: none;
       }
       .nav-links{
       margin-left: 110px;
       }
}





